@model IEnumerable<Cukiernia_EF.Models.Zamowienia>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Klient.NazwaFirmy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WartoscZamowienia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataZamowienia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataRealizacji)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Znizka)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Klient.NazwaFirmy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WartoscZamowienia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataZamowienia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataRealizacji)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Znizka)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ZamowieniaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ZamowieniaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ZamowieniaID })
        </td>
    </tr>
}

</table>
